
{% load static %}
<!DOCTYPE html>
<html>

<head style="font-family: economicaregular;">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="keywords">
	<meta content="" name="description">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css"/>
	<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css"/> -->
	<link href="{% static 'admin/images/favicon.png' %}" rel="icon">
	<link href="{% static 'admin/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'restaurants/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'restaurants/css/style.css' %}" rel="stylesheet">
	<title>Food Center</title>
	<style>
		.restinfo{
			text-align: center; 
			font-family: fantasy; 
			color: rgb(6, 94, 89);
			margin-bottom:-50px;
			margin-right: 290px;
			margin-left: 290px;
			background-color:rgb(246, 247, 240);
			display: flex;
		}
		.first-child{
			flex: 1;
		}
		.restimg{
			height: 160px;
			width: 80%;
			margin-top:0px ;
			/* margin-right: 370px; */
			border-radius: 10px;
			margin-bottom: 30px;
			flex: 1;
		}
		.red-bg{
			color: white;
			flex: 1;
			width: 80px;
			height: 40px;
			padding: 8px;
			margin-left: 33%;
			border-radius: 10px;
			font-style: italic;
			font-family: cursive;
		}
	</style>
	{% block restaurants_head %}
	{% endblock restaurants_head %}
</head>

<body style="background: #e2eaef; font-family: 'Open Sans', sans-serif;">
	<div class="side_nav" id="nav" style="z-index: 99;">
		<br>
		<div class="homesymbol">
			<a onmouseenter="document.getElementById('wallet').style.left = '-400px';" href="{% url 'menu_list' %}"
				data-toggle="tooltip" data-placement="top" title="Home"><i class="fa fa-home" aria-hidden="true"></i>
			</a>
		</div>
		<br>
		<div class="dashsymbol">
			<a onmouseenter="document.getElementById('wallet').style.left = '-400px';" href="#"
				data-toggle="tooltip" data-placement="top" title="Dashboard"><i class="fa fa-tachometer"
					aria-hidden="true"></i>
			</a>
		</div>
		<br>
		<div class="addsymbol">
		<a onmouseenter="document.getElementById('wallet').style.left = '-400px';" href="{% url 'add_menu' %}"
			data-toggle="tooltip" data-placement="top" title="Add Product"><i class="fa fa-plus-square"
				aria-hidden="true"></i></a>
		</div>
		<br>
		<div class="viewsymbol">
			<a onmouseenter="document.getElementById('wallet').style.left = '-400px';" href="#"
				data-toggle="tooltip" data-placement="top" title="View My Products"><i class="fa fa-eye"
					aria-hidden="true"></i></a>
		</div>
		 <br>
		<div class="profilesymbol">
		<a href="#" data-container="body" data-toggle="popover" data-placement="right" data-trigger="focus"
					data-html="true"
					data-content="<a href='#'>Account Settings</a>" onmouseenter="document.getElementById('wallet').style.left = '-400px';" data-toggle="tooltip"
			 title="User Profile"><i class="fa fa-user a" aria-hidden="true"></i></a>
		</div>
		<br>
		<div class="exitsymbol">
		<a onmouseenter="document.getElementById('wallet').style.left = '-400px';" href="{% url 'logout' %}"
			data-toggle="tooltip" data-placement="top" title="Logout"><i class="fa fa-sign-out"
				aria-hidden="true"></i></a>
		</div>
		<div style="bottom: 0; position: absolute;"><a
				onmouseenter="document.getElementById('wallet').style.left = '40px';" data-toggle="tooltip"
				data-placement="top" title="Wrappers"><img src="{% static 'admin/images/wrapper_logo.png' %}"
					style="width: 80%" class="mb-1"></a>
		</div>
	</div>
	<!-- menu -->
	<nav id="menu" style="display: none; z-index: 98">
		<ul>
			
			<li>
				<a href="/contact">Contact Us</a>
			</li> 
			<li>
				<a href="#">Terms & Conditions</a>
			</li>
		</ul>
		<section style="bottom: 0; position: absolute; width: 100%; background-color: #231f20; color: #fff;">
			<i class="fa fa-facebook-official" aria-hidden="true"></i>
			<i class="fa fa-youtube-play" aria-hidden="true"></i>
			<i class="fa fa-instagram" aria-hidden="true"></i>
			<i class="fa fa-twitter-square" aria-hidden="true"></i>
			<i class="fa fa-linkedin-square" aria-hidden="true"></i>
			<i class="fa fa-rss-square" aria-hidden="true"></i>
			| &copy; 2020
		</section>
	</nav>

	<!-- wallet -->
	
	<!-- user -->
	<div class="usr_detail" style="display: none;">

	</div>

	<main id="main">
		<div class="restinfo">
		{% with restaurant=request.user.restaurant %}
		<div class="first-child">
			<h2>{{restaurant}}</h2>
			<p>{{restaurant.rest_Address}}</p>
		</div>
		<div class="first-child">
			<img class = "restimg" src="{{restaurant.rest_photo.url}}" alt="no image" srcset="">
		</div>
		</div>
		{% if restaurant.check_time and restaurant.status == "open" %}
		<div class="red-bg" style="background-color: rgb(68, 187, 68);">
			<span style="transform:rotate(-10deg)">
				OPEN
				</span>
		</div>
		{% else %}
		<div class="red-bg" style="background-color: crimson;">
			<span style="transform:rotate(-10deg)">
				CLOSED
				</span>
		</div>
		{% endif %}
		{% endwith %}
		{% block restaurants_body %}
		{% endblock restaurants_body %}
	</main>
	{% block restaurants_js %}
	{% endblock restaurants_js %}
	<script type="text/javascript" src="{% static 'restaurants/js/main.js' %}"></script>
	<script type="text/javascript">
		let path = '{{request.path}}';
		let elms = document.getElementById('nav').children;
		for (var i = elms.length - 1; i >= 0; i--) {
			if (elms[i].pathname == path) {
				elms[i].style.color = '#be2714'
			}
		}
	</script>
	<script>
		$('.alert').hide().fadeIn(500).delay(3000).fadeOut(500);
	</script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script type="text/javascript" src="{% static 'admin/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'restaurants/js/plugin.js' %}"></script>
	<script src="{%static 'core/js/sweetalert.min.js' %}"></script>

	<script>
		$(document).ready( function () {
			$('#myfoodlist,#mymenulist').DataTable({
				responsive:true,
				dom: 'Bfrtip',
				buttons: [
					'copy', 'csv', 'excel', 'pdf', 'print'
				]
			});
		} );
		</script>
	<script>
		$(document).ready(function () {
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
	<script>
		$(document).ready(function () {
			$('[data-toggle="popover"]').popover();
		});
	</script>
</body>

</html>