{% extends 'restaurants/new_base.html' %}
{% block restaurants_head %}
{% endblock restaurants_head%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% block restaurants_body %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h2 class="m-0 font-weight-bold text-primary">{{ title }}</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <a href="{% url 'add_menu' %}"><button type="submit" id="myaddbutton" style="width: 100%;margin-bottom: 10px;" class="btn btn-success"><i class="fa fa-2x "></i>Add New Menu</button></a>
        <table id="mymenulist" class="table table-hover" style="border: 2px solid rgb(234, 230, 253);">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}}">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
            {% if menu_list %}
                <thead class="border-bottom font-weight-bold" style="background-color: rgb(105, 65, 179); color: white;">
                    <tr>
                        <td>SN</td>
                        <td>Menu Name</td>
                        <td>Menu Description</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody style="background-color: rgb(255, 255, 255); color: black;">
                    {% for menu in menu_list %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{menu.menu_name}}</td>
                            <td>{{menu.menu_description}}</td>
                            <td>
                                <a href="{% url 'edit_menu' menu.id %}" class="btn text-secondary px-0">
                                    <i class="fa fa-edit" style="font-size: 25px; color: blueviolet;text-shadow:2px 2px 4px #000000;"></i>
                                </a> |
                                <a href="{% url 'delete_menu' menu.id %}" class="btn text-secondary px-0">
                                    <i class="fa fa-trash" style="font-size: 25px; color:red; text-shadow:2px 2px 4px black;"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                {% else %}
                <div class="row" style="background-color: wheat;padding: 10px;">
                <p style="font-weight: bold;color: rgb(163, 30, 30);margin-left: 30%;">No menu items found! Shall we add some</p>
                </div>
            {% endif %}
        </table>
        </div>
    </div>
</div>
        

{% endblock restaurants_body %}
{% block restaurants_js %}

{% endblock restaurants_js %} 